#slidercontainer{
    height: 600px;
    width: 600px;
}
#sliderimg {
    background-size: cover;
    height: auto;
    width: 600px;
    position: absolute;
    overflow: hidden;
}
#volgende{
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 5%;
}
#vorige{
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 5%;
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 150px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}